body {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  font-size: 20px;
  background-color: #2f2f31;
  color: #bdbdbd;
  margin: 20px;
}

img {
  height: 500px;
  width: auto;
  display: block;
  margin: 0 auto;
  border: 10px solid #bdbdbd;
}

div {
  margin: 40px 0;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #eeeeff;
}

h3 {
  color: #dfdfdf;
}

a {
  color: #bdbdbd;
}

li {
  margin: 10px 0;
}
